:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
.wrapper {
  margin:auto;
  width: 100%;

}
.container {
  margin:auto;
  width: 100%;
    justify-content: center;

    
    display:flex;
    flex-wrap: wrap;
}
.button2:hover {

    background-color: gray; /* Green */
    color: white;
  
}

.item {
    text-align: center;
    margin: 50px;
    max-width: 200px; 
}
@media only screen and (max-width: 1215px) {
.item {
  margin: 20px;
}
}

#product-img {
    width: 100px;
    height: 150px;
}
#product-imgDetails {
  width: 300px;
}

.itemDetails {
  padding-top: 50%;
    margin: auto;
  display: flex;
}
.flex-items {
  width: 300px;
  margin-left: 10px;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}
body {
  padding:0px;
  margin: 0px;
}
#background-image {
  width: 100%;
}
.header {
  position: fixed;
  float: left;
  background: rgb(101,158,188, 1);
  text-align: center;
  padding: 12px;
  min-width: 100%;
  height: 50px;
}
.fa-arrow-up {
  float: right;
  padding-top: 15px;
  padding-right: 30px;
  opacity: 0;
}

.header-navigation {
  float: right;
  padding-right: 70px;
}
.header-container {
  float: left;
}
#nav-item {
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding-left: 10px;
}
body .button {
    width: 100px;
    height: 20px;
}
.buttonContainer {
    text-align: center;
    width: 100%;
}
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #f28df2;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #f28df2 transparent transparent transparent;
  }
  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 
  .button2 {
    
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 120px;
    color: black;
  } 
  .toggle {
    
    background-color: black;
    color: white;
  }
  .navigation {
    width: 100%;
    background-color: #f28df2;
    display: flex;
 
  }
  .menuOptions {
    display: flex;
    margin-left: auto;
    
  }
  #contactB {
    margin-right: 10px;
  }

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}
input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
button {
  background: rgb(11, 91, 133);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}
.formWrapper {
  margin: auto;
  width: 400px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}
.validationMessage {
  color: green;
}

.searchbar {
  display: flex;
}
.fa-solid {

  margin-top: auto;
  margin-bottom: auto;
}
.page-container {
  position: relative;
  min-height: 90vh;
}
.wrapper {
  padding-bottom: 2.5rem; 
}
footer {
  background-color: #f28df2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}